@page
@model BaseApp.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "アクセス拒否";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header>
    <h1 class="text-danger">アクセス拒否</h1>
    <p class="text-danger">このリソースへのアクセス権がありません。</p>
</header>
