@page
@model IndexModel
@{
    ViewData["Title"] = "ホームページ";
}

<div class="text-center">
    <h1 class="display-4">ようこそ</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core で Web アプリを構築する</a>方法を学びましょう。</p>
</div>
